.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  transition: background-color 150ms ease;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );

  &[data-expanded] {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }
}

.label {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
}

.flag {
  border-radius: 100px;
  width: 20px;
  height: 20px;
}

.menuLabel {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
}
