.wrapper {
  border-left: 1px solid var(--color-brand-secondary);
  padding-left: 64px;
  gap: 64px;
}

.image {
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 986px) {
  .wrapper {
    padding: 0;
    border: none;
    gap: 32px;
  }

  .image {
    max-height: 400px;
    width: auto;
  }
}
