.card {
  padding: 24px 12px;
  gap: 12px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow-3);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.05) 40%,
    transparent 60%
  );

  pointer-events: none;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;

  background:
    radial-gradient(
      circle at 30% 30%,
      rgba(255, 255, 255, 0.3),
      transparent 40%
    ),
    radial-gradient(
      circle at 70% 70%,
      rgba(255, 255, 255, 0.1),
      transparent 40%
    );

  mix-blend-mode: overlay;
  pointer-events: none;
}

.icon {
  color: var(--color-white);
}

.title {
  font-size: 17px;
  line-height: 150%;
  font-weight: 600;
  color: var(--color-white);
}

.additional {
  font-size: 14px;
  line-height: 150%;
  color: var(--color-white);
}
