.description {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 28px;
}

.margin {
  margin-bottom: 28px;
}

.shadow {
  text-shadow: var(--text-shadow-1);
}

.dark {
  color: var(--color-text-primary);
}

.light {
  color: var(--color-white);
}

.small {
  font-size: 18px;
}

@media (max-width: 1200px) {
  .description {
    font-size: 18px;
  }

  .description {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .description {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }
}
