.wrapper {
  margin-top: 44px;
  row-gap: 50px;
  column-gap: 50px;
}

.box {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24px;
}

.iconBox {
  background-color: var(--color-brand-primary);
  padding: 12px;
  border-radius: 999px;
  box-shadow: var(--box-shadow-2);
}

.icon {
  color: var(--color-white);
}

.content {
  gap: 0;
  align-items: flex-start;
}
