.box {
  border: 1px solid var(--color-border);
  border-radius: 12px;
  overflow: hidden;
}

.inner {
  height: 120px;
  display: flex;
  align-items: flex-end;
  background-color: #2B55AA;
}

.wrapper {
  padding: 20px;
}
