.box {
  border: 1px solid var(--color-border);
  border-radius: 12px;
  overflow: hidden;
}

.inner {
  height: 120px;
  display: flex;
  align-items: flex-end;
  background-color: #2b55aa;
}

.wrapper {
  padding: 20px;
}

@media (max-width: 986px) {
  .carousel {
    max-width: 90vw;
  }
}
