.slide {
  display: flex;
  align-items: center;
  padding: 0 64px;
}

.illustration {
  width: 341px;
}

.control {
  background-color: var(--color-brand-secondary-light);
  border-color: var(--color-brand-secondary);
}

.indicators {
  bottom: 0;
}

.indicator {
  background-color: var(--color-brand-secondary-dark);
}
