.eyebrow {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.default {
  color: var(--color-text-secondary);
}

.light {
  color: var(--color-white);
}

.primary {
  color: var(--color-brand-primary);
}

@media (max-width: 1200px) {
  .eyebrow {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .eyebrow {
    font-size: 13px;
  }
}
