.title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;

  &.thin {
    font-weight: 600;
  }

  &.dark {
    color: var(--color-text-primary);
  }

  &.light {
    color: var(--color-white);
  }

  &.primary {
    color: var(--color-brand-primary);
  }

  &.margin {
    margin-bottom: 20px;
  }

  &.big {
    font-size: 48px;
  }

  &.left {
    text-align: left;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 21px;
  }

  .margin {
    margin-bottom: 16px;
  }

  .big {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 18px;
  }
  .margin {
    margin-bottom: 12px;
  }

  .big {
    font-size: 28px !important;
  }
}
