.image {
  margin: 80px auto 0 auto;
  height: 450px;
  width: auto;
}

.bigger {
  height: 650px;
}

.noMargin {
  margin-top: 0px;
}

@media (max-width: 786px) {
  .image {
    height: auto;
    width: 70%;
    margin-top: 32px;
  }

  .bigger {
    height: auto;
  }
}
