.card {
  padding: 36px;
  border-radius: 24px;
}

.inner {
  gap: 24px;
  align-items: center;
}

.icon {
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: var(--box-shadow-3);
  color: var(--color-white);

  &.icon1 {
    background-color: var(--color-brand-primary-dark);
  }

  &.icon2 {
    background-color: #2e5c8a;
  }

  &.icon3 {
    background-color: var(--color-brand-secondary-dark);
  }
}

@media (max-width: 786px) {
  .card {
    padding: 20px;
  }

  .inner {
    gap: 16px;
  }

  .icon {
    width: 52px;
    height: 52px;
    padding: 12px;
  }
}
