.wrapper {
  position: relative;
}

.laptop {
  z-index: 1;
  width: 85%;
  height: auto;
  position: relative;
  left: -15%;
}

.tablet {
  position: absolute;
  z-index: 2;
  width: 55%;
  height: auto;
  right: 5%;
  bottom: 0;
}

.mobile {
  position: absolute;
  z-index: 3;
  width: 17%;
  height: auto;
  right: 0;
  bottom: 0;
}

@media (max-width: 1200px) {
  .laptop {
    width: 70%;
  }

  .tablet {
    width: 40%;
  }

  .mobile {
    width: 14%;
  }
}
