.root {
  gap: 24px;
}

.item {
  background-color: var(--color-white);

  &.dark {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.control {
  padding: 20px 24px;
}

.dark .control {
  color: var(--color-white);
}

.label {
  padding: 0;
}

.content {
  padding: 0px 24px 20px 24px;
}
